@media (min-width: 768px) {

  body {
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "footer footer";
    grid-template-columns: 3fr 1fr;
  }

  header {
    grid-area: header;
  }

  nav.navigation {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #333;
  }

  .hamburger {
    display: none;
  }

  main {
    grid-area: main;
  }

  aside {
  align-self: start;
  }

  footer {
    grid-area: footer;
  }
}
