/* ---------- BASE ---------- */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* ---------- HEADER ---------- */
header {
  background-color: #0055aa;
  color: white;
  padding: 1rem;
}

header img {
  width: 40px;
  height: 40px;
}

header span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
}


/* ---------- HAMBURGER ---------- */
.hamburger {
  margin-left: auto;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-left: 50px;
}

.hamburger::before {
  content: "☰";
}

/* ---------- NAVIGATION ---------- */
nav.navigation {
  display: none;              /* hidden on small screens */
  flex-direction: column;
  background-color: #0055aa;
  text-align: center;
}

nav.navigation a {
  padding: 1rem;
  gap: 2px;
  color: white;
  text-decoration: none;
}

nav.navigation a:hover,
nav.navigation a.current {
  background-color: #0055aa;
}

/* Show nav when JS toggles it */
nav.navigation.open {
  display: flex;
}

/* ---------- MAIN ---------- */
main {
  padding: 1rem;
  max-width: 900px;
  margin: auto;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.card h2 {
  background-color: #0055aa;
  color: white;
  padding: 0.75rem;
  margin: -1rem -1rem 1rem -1rem;
  border-radius: 6px 6px 0 0;
}

.course-filters {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Shared button styles */
.course-filters button {
  padding: 0.6rem;
  cursor: pointer;
}

/* ---------- BROAD FILTERS ---------- */
.filter-group.broad {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* equal width */
  gap: 0.5rem;
  font-weight: 600;
}

/* Make broad filters visually stronger */
.filter-group.broad button {
  font-size: 1rem;
  background-color: #b7b6b6;
  font-size: 0.9rem;
  border-radius: 2px;
  border-color: #333;
}

.filter-group.broad button:hover {
  background-color: #0055aa
}

/* ---------- SPECIFIC FILTERS ---------- */
.filter-group.specific {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* equal width */
  gap: 0.5rem;
  font-weight: 600;
}

.filter-group.specific button {
  background-color: #b7b6b6;
  font-size: 0.9rem;
  border-radius: 2px;
  border-color: #333;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #0055aa;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer nav.sociallinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer img {
  width: 30px;
}
